.name {
  font-family: "poppins";
  font-weight: 700;
  font-size: xx-large;
  background-image: url(https://cdn.dribbble.com/users/1770290/screenshots/6220590/bg_82.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.loader {
  background-color: var(--pageContent);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .name {
    font-size: large;
  }
}
