.name {
  font-family: "poppins";
  font-weight: 700;
  font-size: xx-large;
  background-image: url(https://cdn.dribbble.com/users/1770290/screenshots/6220590/bg_82.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
