.darkTheme {
  --header: #000000;
  --white: #fff;
  --black: #000;
  --pageContent: #111111;
  --word: #ffffff;
  --work: #212122;
}

.lightTheme {
  --header: #e2e5e9;
  --white: #fff;
  --black: #000;
  --pageContent: #e9ecef;
  --word: #000;
  --work: #f3f6f8;
}
