.pages {
  height: calc(100vh - 4rem);
  overflow-y: auto;
  z-index: 200;
  position: relative;
}

.pages::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media only screen and (max-width: 600px) {
  .pages {
    height: calc(100vh - 8rem);
  }
}
