.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--header);
  height: 4rem;
  align-items: center;
  z-index: 500000;
  position: relative;

  &_name {
    margin-left: 1rem;
    font-size: x-large;
    font-family: "poppins";
    font-weight: 600;
    color: var(--word);
    background-image: url(https://cdn.dribbble.com/users/1770290/screenshots/6220590/bg_82.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    z-index: 200;
  }
  &_routes {
    display: flex;
    flex-direction: row;
    margin-right: 1.2rem;
    font-family: "poppins";
    font-weight: 400;
    gap: 1.2rem;
    color: var(--word);
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 0.5rem;
  }

  .header_name {
    margin: 0.5rem 0;
  }

  .header_routes {
    margin: 0.5rem 0;
    justify-content: center;
  }
}
