.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  font-family: "poppins";
  gap: 3rem;
  padding-bottom: 5rem;

  &_container {
    display: flex;
    flex-direction: row;
    padding: 6rem 0rem;
    height: 10rem;
    border-radius: 1.2rem;
    background-color: var(--work);
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    align-items: center;
    --border-angle: 0turn; // For animation.
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

    border: solid 3px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #08f,
      rgb(255, 0, 212) 99%,
      transparent
    );

    background: 
      // padding-box clip this background in to the overall element except the border.
      var(--main-bg) padding-box,
      // border-box extends this background to the border space
      var(--gradient-border) border-box,
      // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
      var(--main-bg) border-box;

    background-position: center center;

    animation: bg-spin 5s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }

    &_left {
      width: 30rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      color: var(--word);
      gap: 0.5rem;
      .company_name {
        font-weight: 500;
        font-size: large;
      }
      .logo {
        max-width: 16rem;
        max-height: 8rem;
      }
    }

    &_right {
      width: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--word);
      gap: 0.4rem;
      .role {
        font-weight: 700;
        font-size: x-large;
        background-image: url(https://cdn.dribbble.com/users/1770290/screenshots/6220590/bg_82.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
      }
      .summary {
        font-weight: 200;
        font-size: small;
        align-items: center;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .work {
    padding-top: 3rem;
  }

  .work_container {
    flex-direction: column;
    height: auto;
    padding-bottom: 0;
    padding-top: 2rem;
    width: 20rem;
  }

  .work_container_left,
  .work_container_right {
    width: 18rem;
    align-items: center;
    padding-bottom: 2rem;

    .company_name {
      font-size: large;
    }

    .role {
      font-size: medium;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
